.DS_Store
.venv/
__pycache__/
.ipynb_checkpoints/
*.pth
*.onnx
__pages/
__unclassified*/
__junk/
__sources/
node_modules/
src/build/
src/dist/
output.yaml
output.byzx
output.png
metadata.json
train_log.txt
OcrImporter.report.json
OcrImporter.report.full.json
e2e/data/*.actual.yaml